#home {
    height: 100%;
    padding: 20px;
    background-color: #FBFBFC;
}

#home h2 {
    margin-left: 18px;
}

#now-playing {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-family: "Aleo";
    margin-top: 20px;
}

@import url("https://fonts.googleapis.com/css?family=Aleo&display=swap");