.movie-card {
    margin: 20px;
    position: relative;
    box-shadow: 5px 5px 7px darkgrey;
    min-height: 367.53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-card span {
    font-size: 10px;
}

.rating {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #545456;
    color: white;
    padding: 4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.card-poster:hover {
    opacity: 0.6;
    /*filter: alpha(opacity=100);*/
}

.ant-modal-header {
    display: none;
}

.movieInfo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#movieInfo2 {
    width: 100%;
    margin: 20px;
}

#movieInfo2 h2 {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 26px;
    color: #474747;
}

/* classNames for rate color */
.red {
    border: 3px solid red;
}

.orange {
    border: 3px solid orange;
}

.lightGreen {
    border: 3px solid lightgreen;
}

.darkGreen {
    border: 3px solid green;
}

.white {
    border: 3px solid white;

}

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");