.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.moviesPlaying {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px;
}

.nowPlayingPagination {
    margin: 0 0 60px 50px !important;
}